---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			StillSpace is a place to understand and control your mental health.
			<br><br>
			Growing up, I often struggled with my own mental wellbeing, but never really understood it - and found it difficult to access helpful information or support. That’s what inspired me to create StillSpace.
			<br><br>
			It’s for anyone who’s ever felt overwhelmed, alone, or unsure of how to cope. A collection of tools and guidance designed to be accessible to anyone, anytime.
			<br><br>
			Mental health isn’t talked about enough, and too many people suffer in silence. 
			<br><br>
			My hope is that StillSpace can be a support system. A space to take one step at a time.
			<br><br>
			Thank you for supporting StillSpace. I hope it helps you, even just a little.
			<br><br>
			Best wishes,<br>
			Adam Smith
	</div>
	</div>

</PageLayout>
