---
import PageLayout from "@/layouts/Base.astro";

const buttons = [
	{
		text: "CBTSpace",
		href: "/cbtspace/",
	},
	{
		text: "LearnSpace",
		href: "/learnspace/",
	},
	{
		text: "CalmSpace",
		href: "/calmspace/",
	},
	{
		text: "On Being Hollow",
		href: "/on-being-hollow/",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<!-- Hero section -->
	<!-- Background blur -->
	<div class="absolute top-0 left-1/2 md:top-[-15%] -ml-[50vw] min-h-screen w-screen pointer-events-none blur-3xl opacity-50 overflow-x-hidden">
		<div class="absolute top-[10%] right-[-40%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-10"></div>
		<div class="absolute top-[10%] left-[-40%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-10"></div>
		<div class="absolute top-[-20%] left-[-50%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div>
		<div class="absolute top-[-20%] right-[-50%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div>
	</div>
	<section class="max-w-xl mx-auto relative flex items-center justify-center mt-0 lg:mt-16">
		<div class="w-full text-center">
			<span class="title text-3xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent">
				Welcome to StillSpace
			</span>
			<p class="mt-4 mb-4 text-lg font-medium">
				Your mental health companion app.
			</p>
			<div class="flex flex-wrap justify-center items-center gap-4 mt-6 md:mt-12">
				{buttons.map((button) => (
					<a
						href={button.href}
						class="relative flex items-center justify-center h-14 w-48 px-12 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two"
					>
						<span class="text-bgColor font-semibold">
							{button.text}
						</span>
					</a>
				))}
			</div>
		</div>
	</section>
</PageLayout>

