---
import { Icon } from "astro-icon/components";
---

<a
    href="#todo"
    class="sticky top-0 flex h-8 w-8 items-center justify-center rounded-lg drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)] hover:text-accent-two"
    type="button"
>
    <span class="sr-only">Todo</span>
    <Icon
        aria-hidden="true"
        class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2"
        focusable="false"
        name="solar:checklist-minimalistic-linear"
    />
</a>
